# Email Configuration
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=stemappza@gmail.com
EMAIL_HOST_PASSWORD=ddtz gltz vscj loab
DEFAULT_FROM_EMAIL=STEM LMS <stemappza@gmail.com>
