{% extends "admin/base_site.html" %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <p class="card-text">{{ site.each_context.request.user.username }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">Models</h5>
          <p class="card-text">Manage your data here.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
